*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*----------main-page---------*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
}
.sub-header{
    height: 15vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size:cover;
    text-align: center;
    color: #fff;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row3{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.row4{
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    display:flexbox;
    justify-content:center;
}
.sub-header h1{
    margin-top: 100px;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color:transparent
}
nav img {
    padding-top: 4px;
    width: 70px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(214, 210, 212);
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(255, 0, 85);
    display: block;
    margin: auto;
    transition: .8s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(214, 210, 212);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(235, 215, 219);
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid pink ;
    background: pink;
    transition: 1s;
}
/*----------------------------actions-page--------------------------*/
.actions {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.actions h1{
    font-size: 46px;
 }
 .actions-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f1f1f1;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.actions-col img{
    height: 75px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.actions-col p{
    font-size: 15px;
    color: rgb(56, 55, 55);
    padding:6px;
}
.actions-col h3{
    margin-top: 15px;
    text-align: left ;
}

/*----------------------gallery-page ---------------------------*/
.gallunit {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.gallunit h1{
   font-size: 46px;
}
.gallunit-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom:  5%;
    text-align: left;
}
.gallunit-col img{
    width: 95%;
    border-radius: 8px;
}

/*----------------------------about-us-page--------------------------*/
.about-col{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 5%;
}

.about-col{
    flex-basis: 48%;
    padding: 20px 2px;
}

.about-col img{
    width: 90%;
    border-radius: 8px;
}
.about-col h1{
    padding-top: 0;
    font-size: 40px;
    padding-bottom: 20px;
}
.about-col h3{
    padding-top: 20px;
    padding-bottom: 15px;
}
.about-col p{
    padding-bottom: 20px;
    color: rgb(59, 56, 56);
}
blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
}
