*{
  margin: 0;
  padding: 0;
}

/*----------main-page---------*/
.header{
  width: 100%;
  background-image: linear-gradient(rgba(2, 76, 2, 0.878),rgba(2, 43, 17, 0.829));
  background-size: cover;
  background-position:center;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
  background-color:transparent
}
nav img {
  padding-top: 4px;
  width: 120px;
}
.nav {
  flex: 1;
  text-align: right;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}
.nav ul li a{
  color: rgb(248, 248, 248);
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background:rgb(244, 244, 244);
  display: block;
  margin: auto;
  transition: .8s;
}
.nav ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 100%;
  margin-top: 4%;
  color: rgb(11, 57, 11);
  position: absolute;
  text-align: center;
  background-image: linear-gradient(rgba(144, 144, 144, 0.502),rgba(191, 191, 191, 0.829)(url(IMAGES/bgn.jpg)));
}
.text-box img{
  padding-top: 4px;
  padding-bottom: 24px;
  width: 200px;
  border-radius: 30%;
}
.text-box h1{
  font-size: 50px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: rgb(1, 51, 16);
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(223, 223, 223);
  border: 1px solid rgb(6, 47, 24);
  padding: 10px 20px;
  font-size: 13px;
  background:rgb(3, 54, 3);
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid rgb(2, 59, 17) ;
  color: black;
  background: rgb(227, 227, 227);
  transition: 1s;
}

/*index.php*/
#content{
  width: 100%;
    position: absolute;
    color: rgb(11, 11, 11);
}

/*home.php*/
.row{
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}
.main-col{
  width: 80%;
  margin: auto;
  padding-top: 30px;
  margin-left: 10%;
  flex-basis: 50%;
  padding: 15px 8px;
}

.main-col img{
  width: 30%;
  border-radius: 300px;
  border-color: black;
  border-width: 50px;
}
.main-col h1{
  padding-top: 0;
  font-size: 40px;
  padding-bottom: 10px;
  font-family: nos;
}

.main-col h4{
  padding-top: 15px;
  padding-bottom: 15px;
  color:rgb(26, 26, 26)
}


.lt{
  margin-top: 5%;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
}
.lt-col{
  width: 100%;
  margin: auto;
  padding-bottom: 60px;
  flex-basis: 50%;
  padding: 7px 0px;
}
.lt-col img{
  width: 70%;
  border-radius: 10px;
  border: 0.5px solid#00000036 ;
  margin-bottom: 12px;
}

.lt-col h2{
  color: #031b03;
  padding-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
}

.hero-btn2 {
  display: inline-block;
  text-decoration: none;
  color: rgb(223, 223, 223);
  border: 1px solid rgb(3, 46, 19);
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 800;
  background:rgb(9, 79, 23);
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}
.hero-btn2:hover{
  border: 1px solid rgb(4, 4, 4) ;
  color: black;
  background: rgb(227, 227, 227);
  transition: 0.5s;
}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
}

.about h4{
  padding-top: 5%;
  text-align: center;
  font-size: 20px;
}

